body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}
p {
  color: #8f8f8f;
}


/* Headings */
.heading {
  font-size: 3.25rem;
  line-height: 1.5;
  color: white;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.feature-heading {
  font-size: 1.5rem;
  color: black;
}


/* Title */
#title {
  background-color: #ff4c68;
  text-align: left;
}
#title .container-fluid{
  padding-top: 3%;
}
.container-fluid {
  padding: 7% 15%;
}
.title-img {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 4rem;
  position: absolute;
}
.title-btn {
  margin: 5% 3% 5% 0;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 7%;
}
#title .nav-link:hover {
  color: rgba(255, 255, 255, 1.75);
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 500;
}
.navbar-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

/* Features */
#features {
  background-color: white;
  line height: 1.5;
  position: relative;
}
.feat-icons {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #ef8172;
}
.feat-icons:hover {
  color: #ff4c68;
}
.feat {
  padding: 0;
}


/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testemonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding-bottom: 0;
}

/* Press */
#press {
  padding: 7% 10%;
  background-color: #ef8172;
}
.press-img {
  width: 20%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 5% 10%;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.card {
  margin: 1rem;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 15%;
}

/* Footer */
#footer {
  background-color: #fff;
}
.footer-icon {
  color: black;
  padding: 1rem;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    margin: auto;
  }
}
